@charset "UTF-8";
body {
    background-color: rgb(183, 245, 159);
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        color: rgb(23, 117, 39);
    }
    h2 {
        color: rgb(31, 185, 70);
    }
    #principal{
        color: brown;
    }
    .basico{
        color: blueviolet;
    }
    .intermediario{
        color: rgb(39, 49, 0);
    }
    .avançado{
        color: blue;
    }